* { 
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    background-color: transparent;
    background-image: linear-gradient(90deg, #2f3030, #1d1c1b, #0a0c0c);
    display: flex;
    align-items: center;
    min-height: 100vh;
    display: block;
}

section {
    text-align: center;
}

/* Header Navbar Styles */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    color: #262d2c;
    background-image: linear-gradient(90deg, #2f3030, #1d1c1b, #0a0c0c);
    background-color: transparent;
}

.logo {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.logo .logo-heading {
    color: #fff;
    margin: 1;
    padding: 0;
    margin-bottom: 5px;
}

.logo .logo-loc {
    color: white;
    margin-bottom: 10px;
}

.socials {
    padding: 0 1rem;
}

.socials a {
    background-color: transparent;
    border: 0px;
    font-size: 30px;
    color: white;
}

.menu {
    padding: 0 5rem;
}

a {
    color: white;
    text-decoration: inherit;
}

a:hover {
    color: rgb(84, 83, 83);
    transition: all 0.2s ease;
}

.menu .menu-list {
    display: flex;
    list-style: none;
}

.menu-list .menu-list-items {
    padding: 0.5rem 1rem;
}

/* Hero Styles */

.hero {
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
    justify-content: center;
    color: white;
    min-height: 70vh;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.hero .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
}

.hero .headings {
    flex: none;
    text-align: center;
    font-size: 30px;
}

.hero .profile-picture {
    margin-left: 100px;
}

.hero .profile-picture img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.hero .my-heading {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.hero .sub-heading {
    font-size: 25px;
    margin-top: 0.1rem;
}

.hero .intro-buttons {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero .get-resume {
  background-color: #c7842d;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.hero .get-resume:hover,
.hero .get-resume:focus {
  background-color: #fcba65;
  transition: all 0.5s ease;
}

/* Education - Stack Section */

.about .edu-stack-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    position: relative;
    top: -100px;
}

.about .stack .tech {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 50px
}

.about .education,
.about .stack {
    flex: 1;
    padding: 20px;
    background-color: #1d1c1b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about .education h2,
.about .stack h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #c7842d;
}

.about .education p,
.about .stack p {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.education .masters h3 {
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 0px;
}

.education .masters h4 {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 16px;
}

.education .masters p {
    margin-top: 2px;
    font-size: 15px;
}

.education .bachelors h3 {
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 0px;
}

.education .bachelors h4 {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 16px;
}

.education .bachelors p {
    margin-top: 2px;
    font-size: 15px;
}

.stack .tech .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack .tech .icon p {
    margin-top: 0px;
}

/* Project Section */

.projects-section .project-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -100px;
}

.projects-section .project-container .projects {
    flex: 1;
    padding: 20px;
    background-color: #1d1c1b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}